*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  // this defines what 1rem is
  font-size: 62.5%; //1rem = 10px; 10px/16px = 62.5%
}

body {
  box-sizing: border-box;
  padding: 1rem;
}
