.form {
  position: relative;
  &__group {
    display: -webkit-inline-box;
    position: absolute;
    bottom: 8rem;
    background-color: $color-white;
    padding: 2rem 30rem;
    &:not(:last-child) {
      margin-bottom: 2rem;
    }
  }

  &__input {
    font-size: 1.5rem;
    font-family: inherit;
    color: inherit;
    padding: 1.5rem 2rem;
    position: absolute;
    left: 2rem;
    border-style: solid;
    border-width: 0.1rem;
    border-color: #e7ebfb;
    border-radius: 2px;
    background-color: rgba($color-white, 0.5);
    width: 65%;
    display: block;
    transition: all 0.3s;

    &:focus {
      outline: none;
      box-shadow: 0 1rem 2rem rgba($color-black, 0.1);
      border-bottom: 3px solid $color-primary;
    }

    &:focus:invalid {
      border-bottom: 3px solid $color-secondary-dark;
    }

    &::-webkit-input-placeholder {
      color: $color-grey-dark;
    }
  }
}
