/*
  0 - 600px: Phone
  600 - 900px: Tablet portrait
  900 - 1200px: Tablet landscape
  1200 - 1800 is where our normal styles apply
  1800px + : Big desktop
  
  $breakpoint argument choices:
  - phone
  - tab-port
  - tab-land
  - big-desktop
  
  ORDER: Base + typography > general layout + grid > page layout > components
  
  1em = 16px
  */
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }

body {
  box-sizing: border-box;
  padding: 1rem; }

.btn, .btn:link, .btn:visited {
  text-decoration: none;
  padding: 1.5rem 1rem;
  display: inline-block;
  border-radius: 1rem;
  transition: all 0.2s;
  position: relative;
  font-size: 1.6rem;
  border: none;
  cursor: pointer; }

.btn:hover {
  transform: translateY(-0.3rem);
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2); }
  .btn:hover::after {
    transform: scaleX(1.4) scaleY(1.6);
    opacity: 0; }

.btn:active, .btn:focus {
  outline: none;
  transform: translateY(-0.1rem);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2); }

.btn--white {
  background-color: #fff;
  color: #777; }
  .btn--white::after {
    background-color: #fff; }

.btn--transparent {
  background-color: transparent;
  color: #03a9f4;
  font-size: 1.4rem !important;
  text-transform: capitalize;
  left: 18rem; }
  .btn--transparent::after {
    background-color: transparent; }

.btn--green {
  background-color: #55c57a;
  color: #fff; }
  .btn--green::after {
    background-color: #55c57a; }

.btn::after {
  content: "";
  display: inline-block;
  height: 100%;
  width: 100%;
  border-radius: 10rem;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transition: all 0.4s; }

.btn--animated {
  animation: moveInBottom 0.5s ease-out 0.75s;
  animation-fill-mode: backwards; }

.btn-text:link, .btn-text:visited {
  font-size: 1.6rem;
  color: #55c57a;
  display: inline-block;
  text-decoration: none;
  border-bottom: 1px solid #55c57a;
  padding: 3px;
  transition: all 0.2s; }

.btn-text:hover {
  background-color: #55c57a;
  color: #fff;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.15);
  transform: translateY(-2px); }

.btn-text:active {
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
  transform: translateY(0); }

.form {
  position: relative; }
  .form__group {
    display: -webkit-inline-box;
    position: absolute;
    bottom: 8rem;
    background-color: #fff;
    padding: 2rem 30rem; }
    .form__group:not(:last-child) {
      margin-bottom: 2rem; }
  .form__input {
    font-size: 1.5rem;
    font-family: inherit;
    color: inherit;
    padding: 1.5rem 2rem;
    position: absolute;
    left: 2rem;
    border-style: solid;
    border-width: 0.1rem;
    border-color: #e7ebfb;
    border-radius: 2px;
    background-color: rgba(255, 255, 255, 0.5);
    width: 65%;
    display: block;
    transition: all 0.3s; }
    .form__input:focus {
      outline: none;
      box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.1);
      border-bottom: 3px solid #55c57a; }
    .form__input:focus:invalid {
      border-bottom: 3px solid #ff7730; }
    .form__input::-webkit-input-placeholder {
      color: #777; }

.timer {
  position: relative;
  bottom: 49rem;
  left: 50rem;
  display: -webkit-inline-box; }
  .timer__count {
    font-size: 2rem;
    padding-left: 2rem; }

.section-tracker {
  background-color: #f2f6f8;
  height: 95vh;
  padding: 15rem 0; }

.timebox__form {
  width: 50%;
  padding: 5rem; }
